@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-*: initial;

    --color-blue-1: #cdfafa;
    --color-blue-2: #0ac8b9;
    --color-blue-3: #0397ab;
    --color-blue-4: #005a82;
    --color-blue-5: #0a323c;
    --color-blue-6: #091428;
    --color-blue-7: #0a1428;

    --color-gold-1: #f0e6d2;
    --color-gold-2: #c8aa6e;
    --color-gold-3: #c8aa6e;
    --color-gold-4: #c89b3c;
    --color-gold-5: #785a28;
    --color-gold-6: #463714;
    --color-gold-7: #32281e;

    --color-grey-1: #a09b8c;
    --color-grey-1\.5: #5B5A56;
    --color-grey-2: #3c3c41;
    --color-grey-3: #1e2328;
    --color-grey-cool: #1e282d;

    --color-hextech-black: #010a13;

    --font-sans: "Spiegel", sans-serif;
    --font-serif: "Beaufort for LOL", serif;
    --font-mono: monospace;
}

@layer components {
    .h1 {
        @apply font-serif font-bold;

        font-size: 40pt;
        line-height: 42pt;
        letter-spacing: 0.05em;
    }

    .h2 {
        @apply font-serif font-bold;

        font-size: 28pt;
        line-height: 32pt;
        letter-spacing: 0.05em;
    }

    .h3 {
        @apply font-serif font-bold;

        font-size: 23pt;
        line-height: 28pt;
        letter-spacing: 0.05em;
    }

    .h4 {
        @apply font-serif font-bold;

        font-size: 18pt;
        line-height: 22pt;
        letter-spacing: 0.05em;
    }

    .h5 {
        @apply font-serif font-bold;

        font-size: 14pt;
        line-height: 18pt;
        letter-spacing: 0.075em;
    }

    .medium-body {
        @apply font-sans font-normal;

        font-size: 14pt;
        line-height: 20pt;
        letter-spacing: 0.025em;
    }

    .bold-label {
        @apply font-sans font-bold;

        font-size: 11pt;
        line-height: 16pt;
        letter-spacing: 0.05em;
    }

    .large-number {
        @apply font-serif font-medium;

        font-size: 57pt;
        line-height: 62pt;
        letter-spacing: 0.025em;
    }

    .stat-number {
        @apply font-serif font-bold;

        font-size: 14pt;
        line-height: 20pt;
        letter-spacing: 0.05em;
    }
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_Bold_Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_Regular_Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_SemiBold_Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Spiegel";
    src: url("/fonts/Spiegel_TT_SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-HeavyItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("/fonts/BeaufortforLOL-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
